<html>
    <head>
        <style>
            body {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100vh;
                margin: 0;
            }
            table {
                border-collapse: collapse;
            }
            caption {
                caption-side: top;
                font-size: 1.5em;
                margin-bottom: 0.5em;
            }
        </style>
    </head>
    <body>
        <table border="2">
            <caption>Student Table</caption>
            <tr>
                <th>ROLL</th>
                <th>NAME</th>
                <th>GPA</th>
            </tr>
            <tr>
                <td>101</td>
                <td>Omit</td>
                <td>5</td>
            </tr>
            <tr>
                <td>102</td>
                <td>Lamia</td>
                <td>4.5</td>
            </tr>
        </table>
    </body>
</html>
