<html>
    <body>
        <table border = "2">
            <caption>Student Table</caption>
            <tr>
                <th>ROLL</th>
                <th>NAME</th>
                <th>GPA</th>
            </tr>
            <tr>
                <td>101</td>
                <td>Omit</td>
                <td>5</td>
            </tr>
            <tr>
                <td>102</td>
                <td>Lamia</td>
                <td>4.5</td>
            </tr>
            </table>
    </body>
</html>