<!DOCTYPE html>
<html>
<head>
    <title>My First HTML Page</title>
</head>
<body>
    <h1>Hello, World!</h1>
    <h2>My name is Mahmud</h2>
    <p>This is a paragraph.</p>

    <!-- Unordered List -->
    <h3>My Hobbies</h3>
    <ul>
        <li>Reading</li>
        <li>Traveling</li>
        <li>Coding</li>
        <li>Photogrphy</li>
    </ul>

    <!-- Ordered List -->
    <h3>Steps to Create a Web Page</h3>
    <ol>
        <li>Learn HTML</li>
        <li>Learn CSS</li>
        <li>Learn JavaScript</li>
        <li>Learn Typescript</li>
    </ol>

    <!-- Link -->
    <h3>Useful Link</h3>
    <p>Visit <a href="google.com">Google Search</a> for more information</p>

    <!-- Image -->
    <h3>My Photo</h3>
    <img src="../media/me.jpg" alt="Sample Image" style="width: 500px; height: auto;">

</body>
</html>