<!DOCTYPE html>
<html lang="en">
<head>
    <title>My First HTML Page</title>
    <link rel="stylesheet" href="../static/css/index.css">
</head>
<body>
    <h1>Hello, World!</h1>
    <h2>My name is Mahmud</h2>
    <p>Currently I'm learning HTML and CSS. Wish me luck!</p>

    <!-- Unordered List -->
    <h3>My Hobbies</h3>
    <ul>
        <li>Reading</li>
        <li>Traveling</li>
        <li>Coding</li>
        <li>Photogrphy</li>
    </ul>

    <!-- Ordered List -->
    <h3>Steps to Create a Web Page</h3>
    <ol>
        <li>Learn HTML</li>
        <li>Learn CSS</li>
        <li>Learn JavaScript</li>
        <li>Learn Typescript</li>
    </ol>

    <!-- Link -->
    <h3>Useful Link</h3>
    <p>Here is my <a href="my_cv.html">resume</a> please have a look</p>

    <!-- Image -->
    <h3>My Photo</h3>
    <img src="../media/gmr.jpg" alt="Sample Image" style="width: 500px; height: auto;">

    <script src="../static/js/main.js"></script>


</body>
</html>