    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio Services</title>
    <link rel="stylesheet" href="../static/css/style.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
     integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
      crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="services-container">
        <h2 class="services-title">My Services</h2>
        
        <div class="services-grid">
            <div class="service-card">
                <div class="service-icon"><i class="fa-solid fa-code"></i></div>
                
                <h3>Web Development</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necesestictibus uteuradi est dolor enim. No.</p>
            </div>

            <div class="service-card">
                <div class="service-icon"></div>
                <h3>UX/UI Design</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necesestictibus uteuradi est dolor enim. No.</p>
            </div>

            <div class="service-card">
                <div class="service-icon"></div>
                <h3>Graphic Design</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necesestictibus uteuradi est dolor enim. No.</p>
            </div>

            <div class="service-card">
                <div class="service-icon"></div>
                <h3>SEO</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necesestictibus uteuradi est dolor enim. No.</p>
            </div>

            <div class="service-card">
                <div class="service-icon"></div>
                <h3>DOLL</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necesestictibus uteuradi est dolor enim. No.</p>
            </div>
        </div>
    </div>
</body>
</html>
