<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>R15</title>
    <link rel="stylesheet" href="../static/css/style.css" />
  </head>
  <body>
    <h3>Welcome To my World</h3>
    <h1>Hi I'm Shuvo</h1>
    <h2>Frontend Developer</h2>
    
    <p>
    Crafted with precision and passion, my work merges to deliver
    solutions that spark connection, drive growth, and redefine
    boundaries.
    </p>

    <a href="https://wa.me/+8801607400180" class="btn">Hire Me Now ! <i class="bx bx-right-arrow-alt"></i>
    </a>

    <a href="Doc1.pdf" target="_blank" class="btn d-CV">Download CV <i class="bx bx-download"></i></a>

    <img src="../media/my_pic.jpg" alt="My Image">
  

</html>
