<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personal Portfolio</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">

</head>
<body>
    <header>
        <ul class="navlist">
          <li><a href="index.html" class="active">Home</a></li>
          <li><a href="/template/portfolio/index.html" >Portfolio</a></li>                          
          <li><a href="../resume/index.html" >RESUME</a></li>
          <li><a href="testimonials.html" >TESTIMONIALS</a></li>
        </ul>
        <div class="right-header">
          <div class="menu-icon">
            <div class="bar"></div>
          </div>
        </div>
      </header>
    
    
    <div class="container">
        <h1>Hi!</h1>
        <h1>I'm Gazi Mahmudur Rahaman Shuvo.</h1>
        <h3> I'm a Full Stack Developer.</h3>
        <hr>
        <div class="social-icons">
            <a href="https://www.facebook.com/g.mahmudur" target="_blank"><i class="fab fa-facebook"></i></a>
            <a href="https://x.com/@Gazi__Shuvo" target="_blank"><i class="fab fa-twitter"></i></a>
            <a href="https://www.instagram.com/g.mahmudur/" target="_blank"><i class="fab fa-instagram"></i></a>
            <a href="https://github.com/GaziMahmudur" target="_blank"><i class="fab fa-github"></i></a>
        </div>
    </div>
    <script src="script.js"></script>
</body>
</html>
