<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Personal page</title>
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>

<body>
  <header>
    <div class="right-header">
      <div class="menu-icon">
        <div class="bar"></div>
      </div>
    </div>
    <ul class="navlist">
      <li><a href="index.html" class="active">Home</a></li>
      <li><a href="../portfolio/index.html">Portfolio</a></li>
      <li><a href="../resume/index.html">Resume</a></li>
      <li><a href="../testimonials/index.html">Testimonials</a></li>
    </ul>
  </header>

  <section class="home">
    <div class="container">
      <h1 class="fade-in">Hi!</h1>
      <h1 class="slide-in">I'm Gazi Mahmudur<br>Rahaman Shuvo.</h1>
      <h3 class="typing">I'm a Frontend Developer.</h3>
      <hr>
      <div class="social-icons">
        <a href="https://www.facebook.com/g.mahmudur" target="_blank"><i class="fab fa-facebook a-1"></i></a>
        <a href="https://x.com/@Gazi__Shuvo" target="_blank"><i class="fab fa-twitter a-2"></i></a>
        <a href="https://www.instagram.com/g.mahmudur/" target="_blank"><i class="fab fa-instagram a-3"></i></a>
        <a href="https://github.com/GaziMahmudur" target="_blank"><i class="fab fa-github a-4"></i></a>
      </div>
    </div>
  </section>

  <script src="script.js" defer></script>
</body>

</html>