<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="fireflies.css">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Personal page</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
  <script src="https://unpkg.com/@dotlottie/player-component@2.7.12/dist/dotlottie-player.mjs" type="module"></script>
</head>

<body>

  <dotlottie-player src="https://lottie.host/73c221ff-11a3-4b85-99a5-f359eeac1367/QHGA3M2tEf.lottie"
    background="#00041C" speed="1" loop autoplay style="filter: blur(2px) brightness(0.9)"></dotlottie-player>

  <div id="content" class="content hidden"></div>

  <header>
    <div class="right-header">
      <div class="menu-icon">
        <div class="bar"></div>
      </div>
    </div>
    <ul class="navlist">
      <li><a href="index.html" class="active">Home</a></li>
      <li><a href="../portfolio/index.html">Portfolio</a></li>
      <li><a href="../resume/index.html">Resume</a></li>
      <li><a href="../testimonials/index.html">Testimonials</a></li>
    </ul>
  </header>

  <section class="home" id="home">
    <div class="container">
      <h1 class="fade-in">Hi!</h1>
      <h1 class="slide-in">I'm Gazi Mahmudur Rahaman Shuvo.</h1>
      <h3 class="typing">I'm a Frontend Developer.</h3>
      <hr>
      <div class="social-icons">
        <a href="https://www.facebook.com/g.mahmudur" target="_blank"><i class="fab fa-facebook a-1"></i></a>
        <a href="https://x.com/@Gazi__Shuvo" target="_blank"><i class="fab fa-twitter a-2"></i></a>
        <a href="https://www.instagram.com/g.mahmudur/" target="_blank"><i class="fab fa-instagram a-3"></i></a>
        <a href="https://github.com/GaziMahmudur" target="_blank"><i class="fab fa-github a-4"></i></a>
      </div>
    </div>
  </section>
  <script src="script.js"></script>
  <script src="../loader.js"></script>
</body>

</html>