<!DOCTYPE html>
<html lang="en">

<head>
  <script src="https://unpkg.com/@dotlottie/player-component@2.7.12/dist/dotlottie-player.mjs" type="module"></script>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Shuvo || Portfolio website</title>
  <link rel="stylesheet" href="style.css" />
  <!-- boxicon css link -->
  <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head>

<body>

  <!-- Loader HTML -->
  <div id="loader">
    <div class="spinner"></div>
    <div class="container0">
      <abbr></abbr>
      <div class="center">
        <div class="wrap">
          <div class="box-1 box">
            <em class="fas fa-file-code"></em>
            <em class="fas fa-file-code"></em>
          </div>
          <div class="box-2 box">
            <em class="fas fa-file-code"></em>
            <em class="fas fa-file-code"></em>
          </div>
        </div>
      </div>
    </div>


    <a href="https://dribbble.com/YancyMin" class="dr-url" target="_blank"><img class="dr"
        src="https://cdn.dribbble.com/assets/logo-footer-hd-a05db77841b4b27c0bf23ec1378e97c988190dfe7d26e32e1faea7269f9e001b.png"
        alt=""></a>
  </div>

  <div class="overlay"></div>
  <header>
    <a href="index.html" class="logo"><span>S</span>huvo</a>
    <ul class="navlist">
      <li><a href="index.html" class="active">Home</a></li>
      <li><a href="../portfolio/services.html">Services</a></li>
      <li><a href="../portfolio/experience.html">Experience</a></li>
      <li><a href="../portfolio/projects.html">Projects</a></li>
      <li><a href="../portfolio/contact.html">Contact</a></li>
    </ul>
    <div class="right-header">
      <a href="https://m.me/g.mahmudur" class="btn"> chat </a>
      <div class="menu-icon">
        <div class="bar"></div>
      </div>
    </div>
  </header>

  <section class="contact" id="contact">
    <h2>Let's Work Together</h2>
    <div class="contact-grid">
      <div class="contact-info">
        <p>Phone: (492) 368420477</p>
        <p>Email: donty@fusaeohindelternet24@gmail.com</p>
        <p>Address: Houaibao2-843 Block-20 Outcupp Town TB Area</p>
      </div>
      <form>
        <input type="text" placeholder="Full Name">
        <input type="email" placeholder="Email Address">
        <input type="tel" placeholder="Phone Number">
        <input type="text" placeholder="Email Subject">
        <textarea rows="5" placeholder="Your Message"></textarea>
        <button type="submit">Send Message</button>
      </form>
    </div>
  </section>
</body>
<script src="script.js"></script>

</html>