<!DOCTYPE html>
<html lang="en">
  <head>
    <script
  src="https://unpkg.com/@dotlottie/player-component@2.7.12/dist/dotlottie-player.mjs"
  type="module"
></script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shuvo || Portfolio website</title>
    <link rel="stylesheet" href="style.css" />
    <!-- boxicon css link -->
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="overlay"></div>
    <header>
      <a href="index.html" class="logo"><span>S</span>huvo</a>
      <ul class="navlist">
        <li><a href="index.html" class="active">Home</a></li>
        <li><a href="../Portfolio/services.html">Services</a></li>
        <li><a href="../Portfolio/experience.html">Experience</a></li>
        <li><a href="../Portfolio/projects.html">Projects</a></li>
        <li><a href="../Portfolio/contact.html">Contact</a></li>
      </ul>
      <div class="right-header">
        <a href="https://m.me/g.mahmudur" class="btn"
          > chat </a>
        <div class="menu-icon">
          <div class="bar"></div>
        </div>
      </div>
    </header>
    
    <section class="experience" id="experience">
        <h2>My Experience</h2>
        <div class="timeline">
            <div class="timeline-item left">
                <h4>2023 - Present</h4>
                <h3>Frontend Developer @ Aixc Crop</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
            <div class="timeline-item right">
                <h4>2022 - 2023</h4>
                <h3>Full Stack Developer @ Google</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
        </div>
    </section>
  </body>
  <script src="script.js"></script>

</html>