<!DOCTYPE html>
<html lang="en">
  <head>
    <script
  src="https://unpkg.com/@dotlottie/player-component@2.7.12/dist/dotlottie-player.mjs"
  type="module"
></script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bijan || Portfolio website</title>
    <link rel="stylesheet" href="style.css" />
    <!-- boxicon css link -->
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="overlay"></div>
    <header>
      <a href="index.html" class="logo"><span>S</span>huvo</a>
      <ul class="navlist">
        <li><a href="index.html" class="active">Home</a></li>
        <li><a href="../Portfolio/about.html">About</a></li>
        <li><a href="#services">Services</a></li>
        <li><a href="#portfolio">Portfolio</a></li>
        <li><a href="#blog">Blog</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
      <div class="right-header">
        <a href="https://m.me/g.mahmudur" class="btn"
          > chat </a>
        <div class="menu-icon">
          <div class="bar"></div>
        </div>
      </div>
    </header>

    <section class="home" id="home">
      <div class="hero-info">
        <h3>Welcome To my World</h3>
        <h1>Hi I'm Shuvo</h1>

        <div class="text-animate">
          <h2>Frontend Developer</h2>
        </div>

        <p>
          Crafted with precision and passion, my work merges to deliver
          solutions that spark connection, drive growth, and redefine
          boundaries.
        </p>

        <div class="btn-box">
          <a href="https://wa.me/+8801822474540" class="btn"
            >Hire Me Now ! <i class="bx bx-right-arrow-alt"></i>
          </a>
          <a href="Doc1.pdf" target="_blank" class="btn d-CV"
            >Download CV <i class="bx bx-download"></i
          ></a>
        </div>
        <div class="social-media">
          <div class="bg-icon">
            <a href="https://www.instagram.com/g.mahmudur"
              ><i class="bx bxl-instagram"></i
            ></a>
            <span></span>
          </div>

          <div class="bg-icon">
            <a href="https://github.com/GaziMahmudur"
              ><i class="bx bxl-github"></i
            ></a>
            <span></span>
          </div>

          <div class="bg-icon">
            <a href="https://x.com/Gazi__Shuvo"
              ><i class="bx bxl-twitter"></i
            ></a>
            <span></span>
          </div>

          <div class="bg-icon">
            <a href="https://www.facebook.com/g.mahmudur"
              ><i class="bx bxl-facebook"></i
            ></a>
            <span></span>
          </div>
        </div>
      </div>
      <div class="img-hero">
        <dotlottie-player
  src="https://lottie.host/c19e5ebd-e8ed-4b80-a68d-97ccef45409f/jyGfBBwcCD.lottie"
  background="transparent"
  speed="1"
  style="width: 400px; height: 300px"
  loop
  autoplay
></dotlottie-player>
        </div>
      </div>
    </section>

    <script src="script.js"></script>
  </body>
</html>
